<ul class="ym-skiplinks">
	<li><a class="ym-skip" href="#nav">Skip to navigation (Press Enter)</a></li>
	<li><a class="ym-skip" href="#main">Skip to main content (Press Enter)</a></li>
</ul>

<div class="ym-wrapper">
	<div class="ym-wbox">
		<header>
			<h1>java帝国とrails軍団の技術ブログ</h1>
		</header>
		<nav id="nav">
			<div class="ym-hlist" >
				<ul>
					<li class="active"><strong>Home</strong></li>
					<li><a href="#">about us</a></li>
					<li><a href="#">writers</a></li>
				</ul>
				<form class="ym-searchform" method="get" action="find">
					<input class="ym-searchfield" type="search" placeholder="Search..." name="search" />
					<input class="ym-searchbutton" type="submit" value="Search" />
				</form>
			</div>
		</nav>
		<main>
			<div class="ym-column linearize-level-1">
				<div class="ym-col1">
					<div class="ym-cbox">
						<section class="box info">
							<h2>Main Content</h2>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
							<a class="ym-button ym-next" href="#">Read More</a>
						</section>
	<% @articles.each do |article| %>
        <td><%= article.id %></td>
        <td><%= article.title %></td>
        <td><%= article.content %></td>
        <td><%= article.user_id %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <% end %>
						<section class="ym-grid linearize-level-2">
							<% @articles.each do |article| %>
								<article class="ym-g50 ym-gl">
									<div class="ym-gbox">
										<!-- content -->
										<a href="<%= article.id %>">
										<h3><%= article.title %></h3>
										<p><%= article.content %></p>
										</a>
									</div>
								</article>

							<% end %>
							<article class="ym-g50 ym-gr">
								<div class="ym-gbox">
									<!-- content -->
									<h3>Heading</h3>
									<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
								</div>
							</article>
						</section>
						<section class="ym-grid linearize-level-2">
							<article class="ym-g50 ym-gl">
								<div class="ym-gbox">
									<!-- content -->
									<h3>Heading</h3>
									<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
								</div>
							</article>
							<article class="ym-g50 ym-gr">
								<div class="ym-gbox">
									<!-- content -->
									<h3>Heading</h3>
									<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
								</div>
							</article>
						</section>
					</div>
				</div>
				<aside class="ym-col3">
					<div class="ym-cbox">
						<h2>Sidebar</h2>
						<h4>Advertisement</h4>
						<div class="ym-contain-dt">
							<img src="http://dummyimage.com/128x128/cccccc/fff.png" alt="ads" class="float-left bordered"/>
							<img src="http://dummyimage.com/128x128/cccccc/fff.png" alt="ads" class="float-left bordered"/>
							<img src="http://dummyimage.com/128x128/cccccc/fff.png" alt="ads" class="float-left bordered"/>
							<img src="http://dummyimage.com/128x128/cccccc/fff.png" alt="ads" class="float-left bordered"/>
							<img src="http://dummyimage.com/128x128/cccccc/fff.png" alt="ads" class="float-left bordered"/>
							<img src="http://dummyimage.com/128x128/cccccc/fff.png" alt="ads" class="float-left bordered"/>
						</div>
						<h4>Widget</h4>
						<ul>
							<li>Item 1</li>
							<li>Item 2</li>
							<li>Item 3</li>
							<li>Item 4</li>
							<li>Item 5</li>
						</ul>
					</div>
				</aside>
			</div>
		</main>
		<footer>
			<p>© Company <span id="thisyear"></span> &ndash; Layout based on <a href="http://www.yaml.de">YAML</a></p>
      <% if logged_in? %>
          <li><%= link_to "Users", '#' %></li>
          <a href="/new">
      <% else %>
          <span>not login</span>
          <%= link_to 'New Article', new_article_path %>
      <% end %>
		</footer>
	</div>
</div>

<!-- full skip link functionality in webkit browsers -->
<script src="../yaml/core/js/yaml-focusfix.js"></script>
<script type="text/javascript" charset="utf-8">
</script>